# Database connection properties.
postgreSQLDriver = org.postgresql.Driver

# PostgreSQL is case sensitive for database names;
# be sure to keep "hw5" in all-lowercase as done here.
postgreSQLUrl = jdbc:postgresql:hw5

# If you used the online instructions for Lab machines:
#   username is your CSE login
#   password can be anything (it is ignored by postgres)
# If you installed Postgres yourself:
#   username is "postgres"
#   password is the database superuser password you chose in setup
# Consult Postgres and software install instructions if unsure.
postgreSQLUser = your_postgres_username
postgreSQLPassword = your_postgres_password
